[Unit]
Description=A microvisor services
After=network.target

[Service]
WorkingDirectory=/srv/website/SuperDyl-Website/microvisor

User=website
Group=website

Restart=always

ExecStart=/srv/website/.local/share/fnm/fnm exec npm run serve -- -p 3019

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=website

[Install]
WantedBy=multi-user.target
